.App {
  margin: 2em 20em;
  padding: 0 1em;
  min-height: 42em;
  min-width: 32em;
  text-align: center;
  color: #333;
  background: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}

